.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color:#85F4FF ;
    padding:2em;
    text-align: center
}
.btn-primary{

    text-align: center;
    font-size: 27px;
    background: var(--primary-bg);
    color: var(--fontcolor);
    border: 1 solid black;
    padding: 15px 20px 15px 20px;
    margin: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color:#42C2FF

}

.btn-primary:hover {
    color: var(--fonthovercolor);
}